@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dbeafe;
}


::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color:  #1e3a8a;
}
